---
import Layout from '../layouts/Layout.astro';
import AuthGuard from '../components/AuthGuard';
import AppShell from '../components/AppShell';
import EntityForm from '../components/EntityForm';
---
<Layout>
  <AuthGuard client:load>
    <AppShell client:load>
      <h1 class="text-xl font-semibold mb-4">Entities</h1>
      <EntityForm client:load />
    </AppShell>
  </AuthGuard>
</Layout>
